*{
	margin: 0;
	padding: 0;
	/*border: 1px solid black;*/
	border:0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

/*/* Color Theme Swatches in Hex */
/* purple red { color: #8C3746; }
 green { color: #4D593C; }
 yellow { color: #F2C791; }
 beige { color: #F2CCB6; }
 light pink { color: #F2D5D5; }*/

 /* Color Theme Swatches in Hex 
d blue{ color: #101C26; }
blue{ color: #273940; }
green{ color: #7B8C3B; }
yellow{ color: #D9AC59; }
pink{ color: #D9896C; }

 Color Theme Swatches in RGBA 
{ color: rgba(16, 28, 38, 1); }
{ color: rgba(39, 57, 64, 1); }
{ color: rgba(123, 140, 59, 1); }
{ color: rgba(217, 172, 89, 1); }
{ color: rgba(217, 137, 108, 1); }

Look at Volkorn sC for lantern
Alegreya SC in medium 
*/


/*Global styling*/
body {
	line-height: 1;
	font-family: "Raleway", sans-serif; 
}
/*ol, ul {
	list-style: none;
}*/
html{
	position: relative;
	/*min-height: 100%;*/
}
main{
	/*min-height: 100%;*/
	margin-bottom: 2%;
}
h1{
	font-size: 2em;
	font-family: "Playfair Display SC", serif;
	text-align: center;
	padding: 10%;
	color:#101C26;
}

h2{
	font-size: 1.5em;
	font-family: "Playfair Display", serif;
	text-align: center;
	padding:5%;
	margin-bottom:5%;
	color:#101C26;
}

.aColumn a{
	color:black;
}

nav li{
	display: inline;
	list-style: none;
	text-decoration: none;
	font-family: "Playfair Display SC", serif;
	margin-left:10%;
	color:#D9AC59;
	font-size: 1.2em;
}
.topBar img{
	max-height: 65px;
	margin-top:5px;
}
.bodyDiv{
	display: grid;
}
.topBar{
	/*This is the grid row top bar in the bodyDiv grid.*/
	/*grid-row:1; */
	display: grid;
	grid-template-columns: 1fr 1fr 1fr; 
	background-color:#101C26;
	/*padding:1%;*/
	height: 80px;
	/*overflow:hidden;*/
}
.nav-wrap{
	height:80px;
}
.noStick{
	background-color:#101C26;
	/*padding:3%;*/
}
.stick{
	position: fixed;
	height:80px;
	top:0;
	left:0;
	width: 100%;
	background-color: rgba(16, 28, 38, .9);
	/*padding:1%;*/
}
.stick + .homeSplash{
	padding-top:80px;
}
.homeSplash{
	grid-row: 2;
	width: 100vw;
	height: 90vh;
	background-image: url("../img/splash.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	/*this grid to to arrange homeSplash/ splash pages*/
	display: grid;
	grid-template-rows: 1fr 1fr 1fr;
	grid-template-columns: 1fr 1fr 1fr;
}
.homeSplash img{
	max-width: 33px;
}
.mainHeader{
	grid-row: 1;
	grid-column: 2;
	background-color:rgba(39, 57, 64, .7);
	color:rgba(217, 172, 89, 1);
	margin-top:3%;
	margin-bottom:3%;
}
.headerText{
	grid-row:2;
	grid-column: 2;
	text-align: justify;
	line-height: 1.2em;
}
.downArrow{
	grid-row: 3;
	grid-column: 2;
	text-align: center;
}
.bodyDiv main{
	grid-row:3;
}
.logo{
	margin-left:-33%;
}
nav{
	/*in the top bar div, col 3*/
	grid-column: 3;
}

/*expanding menu with css*/
.dropdown{
	position: relative;
	display: inline-block;
	margin-left: 5%;
}
.drop-content{
	display: none;
	position:absolute;
	background-color:;
	min-width:160px;
	z-index: 1;
}
.drop-content a{
	padding:2%;
	display: block;
}
.drop-content a:hover{
	background-color: ;
}
.dropdown:hover .drop-content{
	display:block;
	background-color: rgba(16, 28, 38, .9);
	padding-top:7%;
}
.dropdown:hover .dropbtn{
	color: #D9896C;
	text-decoration: underline;
}


/*Header and footer links*/
.topBar ul{
	margin-top:5%;
	margin-left: 25%;
	/*text-align: right;*/
}
/*lvha*/
.topBar a:link{
	/*color: #101C26;*/
	color:#D9AC59;
	/*font-size: 1.2em;*/
	text-decoration: none;
}
.topBar a:visited{
	/*color: #101C26;*/
	color:#D9AC59;
	/*font-size: 1.2em;*/
	text-decoration: none;
}
.topBar a:hover{
	color: #D9896C;
	/*font-size: 1.2em;*/
	text-decoration: underline;
}
.topBar a:active{
	color:#D9AC59;
	/*font-size: 1.2em;*/
	text-decoration: underline;
}


.mainCols{
	display:grid;
	grid-template-columns: 1fr 1fr 1fr;
}
#mainStories{
	grid-column: 1;
	margin-left: 15%;
}
#mainFacts{
	grid-column: 2;
	margin-right:8%;
	margin-left:8%;
}
#mainTips{
	grid-column: 3;
	margin-right: 15%;
}
.aColumn{
	margin:4%;
}
.aColumn img{
	/*max-width: 75%;
	min-width: 70%;*/
	height:50%;
	width:100%;
	/*margin-left: 15%;*/
	align-content: center;
}
.aColumn p{
	line-height: 1.2em;
	margin-top:5%;
	text-align: justify;
}


/*Styling for the Category pages */

.catHeader{
	padding:4%; 
	color:#D9AC59;
}
.storyCatText{
	max-width: 40%;
	margin-left: 30%;
	margin-bottom:4%;
}
.storyCatGen{
	display:flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
}

.oneStory{
	max-width: 30%;
/*	margin-left:8%;
	margin-right: 4%;*/
	/*padding:4%;*/
	min-width: 25%;
	/*display:grid;*/
	/*grid-template-columns: 30% 70%;*/
	/*grid-template-rows: 1fr 1fr 1fr; */
	/*grid-template-rows: 40% 15% 45%; */
	margin-top: 2%;
/*	border-left: 1px solid #101C26;
	border-top:1px solid #101C26;*/
	margin-bottom: 5%;
	background-color: white;
}
.oneStory a{
	color:;
	text-decoration:none;
}
.storyButton{
	display:grid;
}
.storyHead{
	grid-row: 2;
	/*grid-column: 2;*/
	/*text-align: left;*/
	font-size: 1.5em;
	padding:0;
	margin-bottom:4%;
	margin-top:4%;
	text-align: center;
	line-height: 1.2em;
	/*text-decoration-line:underline;*/
	max-width:80%;
	margin-left: 10%;
}
.thumbnailHere{
	/*width: 300px;*/
	width:100%;
	height:275px;
	/*grid-column: 1;*/
	/*grid-row: 1 / span 2;*/
	grid-row:1;
	/*margin-left: 5%;*/
}
.storyblurb{
	/*grid-column: 2;*/
	grid-row:3;
	color:#101C26;
	padding:5%;
	/*border: 1px solid black;*/
}

.catDiv{
	display:grid;
	min-height:100%;
}
.catDiv main{
	margin-bottom:1%;
}
/*Flipping the color of the cat page*/
.catDiv{
	background-color: #101C26;
	color:#D9AC59;
}


/*working on the story*/
.storyDiv{
	max-width:50%;
	margin-left: 25%;
	font-family: "Raleway", sans-serif;
	line-height: 1.6em;
	font-size: 1.2em;
	min-height: 100%;
	padding-bottom:5%;
	padding-top:5%;
}
.storyDiv p{
	margin-bottom: 4%;
}
.storyMain{
	min-height: 100%;
	margin-bottom: 2%;
}

.storyImg{
	max-width: 50%;
	margin-left: 25%;
}
.storyHeader{
	font-family: "Playfair Display SC", serif;
	font-size: 2em;
	border-bottom:1px #273940 solid;
	max-width: 50%;
	margin-left: 20%;
}
blockquote{
	font-size:1.7em;
	margin:3%;
	padding:3%;
	border-left: 1px #273940 solid;
	color:#273940;
	line-height: 1.9em;
}
.sidenote{
	display: block;
	float: left;
	width:30%;
	margin:3%;
	margin-left:-35%;
	font-size: .8em;
	text-align: right;
	margin-bottom: 3%;
}
.manytip{
	/*font-size: .7em;*/
	margin-top:-10%;
	margin-bottom:10%;
	width:40%;
	margin-left:-55%;
}
.smallLink{
	background-color:#101C26;
	color:#D9AC59;
	font-family: "Playfair Display SC", serif;
	padding:5%;
	border-radius: 3px;
	border-color:#D9AC59;
	border-width: 1px;
	border-style: solid;
	margin-top:15%;
	text-decoration: none;
}
.smallLink:hover{
	background-color:#D9AC59;
	color:#101C26;
	border-color:#101C26;
}
.smallLink:active{
	background-color:#101C26;
	color:#D9AC59;
	border-color:#D9AC59;
}
.sideP{
	margin-bottom:5%;
}

/*and working with the tips/facts pages (individual tips/facts)*/
.tipDiv{
	max-width:50%;
	margin-left: 25%;
	font-family: "Raleway", sans-serif;
	line-height: 1.6em;
	font-size: 1.2em;
	min-height: 100%;
	padding-bottom:5%;
	padding-top:5%;
}
.tipDiv p{
	margin-bottom: 4%;
}
.tipMain{
	min-height: 100%;
	margin-bottom: 2%;
}
.storyImg{
	max-width: 50%;
	margin-left: 25%;
}
.tipHeader{
	font-family: "Playfair Display SC", serif;
	font-size: 2em;
	border-bottom:1px #273940 solid;
	max-width: 50%;
	margin-left: 20%;
}
blockquote{
	font-size:1.7em;
	margin:3%;
	padding:3%;
	border-left: 1px #273940 solid;
	color:#273940;
	line-height: 1.9em;
}
figcaption{
	font-size:.8em;
	margin-bottom:2%;
	margin-top:-1%;
}
.innerList{
	margin-left:10%;
	max-width: 80%;
}

/*The about page*/
.aboutPage{
	display:grid;
}
.aboutPage .nav-wrap{
	grid-row:1;
}
.aboutPage main{
	grid-row:3;
	max-width: 60%;
	margin-left: 20%;
}
.aboutPage h1{
	grid-row:2;
	padding-bottom:2%;
	padding-top:5%;
	border-bottom: 1px #D9AC59 double;
	margin: 5%;
	margin-bottom:7%;
}
.aboutPage h2{
	padding:3%;
	border: 1px #D9AC59 double;
	font-size: 1.1em;
}
.aboutPage h3{
	padding:3%;
	margin-top: 2%;
	margin-bottom: 4%;
	font-size: 1.1em;
	font-family: "Playfair Display SC", serif;
	color:#D9AC59;
	background-color:#273940;
	border: 1px #D9AC59 double;
	line-height: 1.2em;
}
.aboutPage p{
	margin-bottom: 3%;
	line-height: 1.3em;
}
.aboutPage ol{
	max-width: 80%;
	margin-left:10%;
}
.aboutPage li{
	margin-bottom: 3%;
}

/*media querries*/
@media screen and (max-width: 875px){
	/*also breaking point for the navigation*/
	nav li{
		display: block;
		margin-top:2%;
		margin-left:7%;
		/*list-style: none;
		text-decoration: none;
		font-family: "Playfair Display SC", serif;
		margin-left:10%;
		color:#D9AC59;
		font-size: 1.2em;*/
	}
	.logo{
		margin-left: 0%;
	}
	.dropdown{
		margin-left:0%;
		margin-top:4%;
	}
	.oneStory{
		max-width: 45%;
		min-width: 35%;
		/*margin-top: 2%;
		margin-bottom: 5%;
		background-color: white;*/
	}
}
@media screen and (max-width: 650px){
	/*This is the break point for the category pages. drop to two cols*/
	.oneStory{
		max-width: 75%;
		min-width: 50%;
		/*margin-top: 2%;
		margin-bottom: 5%;
		background-color: white;*/
	}
	.storyCatText{
		max-width:80%;
		margin-left: 10%;
	}
	/*for home too*/
	.mainCols{
		display:grid;
		grid-template-columns: 1fr;
		grid-template-rows: 1fr 1fr 1fr;
	}
	#mainStories{
		grid-column: 1;
		grid-row:1;
		margin-left: 15%;
	}
	#mainFacts{
		grid-column: 1;
		grid-row:2;
		/*margin-right:8%;*/
		margin-left:15%;
	}
	#mainTips{
		grid-column: 1;
		grid-row:3;
		margin-left: 15%;
	}
	.aColumn{
		max-width:500px;
	}
	.aColumn p{
		border-bottom: 1px #273940 solid;
		padding-bottom:5%;
		width: 80%;
		margin-left:10%;
		margin-right:10%;
	}
	.aColumn h2{
		/*margin-top:-10%;*/
	}
	.homeSplash{
		display: grid;
		grid-template-rows: 1fr 1fr 1fr;
		grid-template-columns: 25% 50% 20%;
	}
	.homeSplash img{
		max-width: 33px;
	}
	.mainHeader{
		grid-row: 2;
		grid-column: 2;
		background-color:rgba(39, 57, 64, .9);
		color:rgba(217, 172, 89, 1);
		margin-top:3%;
		margin-bottom:3%;
	}
	.headerText{
		display:none;
/*		grid-row:2;
		grid-column: 2;
		text-align: justify;
		line-height: 1.2em;
		background-color: rgba(217, 172, 89, .7);
		padding:3%;*/
	}
	.downArrow{
		grid-row: 3;
		grid-column: 2;
		text-align: center;
	}
	.bodyDiv main{
		grid-row:3;
	}
}




