*{
	margin: 0;
	padding: 0;
	/*border: 1px solid black;*/
	border:0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

/*/* Color Theme Swatches in Hex */
/* purple red { color: #8C3746; }
 green { color: #4D593C; }
 yellow { color: #F2C791; }
 beige { color: #F2CCB6; }
 light pink { color: #F2D5D5; }*/

 /* Color Theme Swatches in Hex 
d blue{ color: #101C26; }
blue{ color: #273940; }
green{ color: #7B8C3B; }
yellow{ color: #D9AC59; }
pink{ color: #D9896C; }

 Color Theme Swatches in RGBA 
{ color: rgba(16, 28, 38, 1); }
{ color: rgba(39, 57, 64, 1); }
{ color: rgba(123, 140, 59, 1); }
{ color: rgba(217, 172, 89, 1); }
{ color: rgba(217, 137, 108, 1); }

Look at Volkorn sC for lantern
Alegreya SC in medium 
*/


/*Global styling*/
body {
	line-height: 1;
	font-family: "Raleway", sans-serif; 
}
ol, ul {
	list-style: none;
}
html{
	position: relative;
	min-height: 100%;
}
main{
	min-height: 100%;
	margin-bottom: 2%;
}
h1{
	font-size: 2em;
	font-family: "Playfair Display SC", serif;
	text-align: center;
	padding: 10%;
	color:#101C26;
}

h2{
	font-size: 1.5em;
	font-family: "Playfair Display", serif;
	text-align: center;
	padding:5%;
	margin-bottom:5%;
	color:#101C26;
}

.aColumn a{
	color:black;
}

nav li{
	display: inline;
	list-style: none;
	text-decoration: none;
	font-family: "Playfair Display SC", serif;
	margin-left:10%;
	color:#D9AC59;
	font-size: 1.2em;
}
.topBar img{
	max-height: 90px;
}
.bodyDiv{
	display: grid;
}
.topBar{
	/*This is the grid row top bar in the bodyDiv grid.*/
	grid-row:1; 
	display: grid;
	grid-template-columns: 1fr 1fr 1fr; 
	background-color:#101C26;
}
.noStick{
	width:100%;
	/*height:10%;*/
	padding:3%;
}
.stick{
	position: fixed;
	top:0;
	left:0;
	width: 100%;
	background-color: rgba(16, 28, 38, .9);
	padding:1%;
}
.homeSplash{
	grid-row: 2;
	width: 100vw;
	height: 90vh;
	background-image: url("../img/splash.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	/*this grid to to arrange homeSplash/ splash pages*/
	display: grid;
	grid-template-rows: 1fr 1fr 1fr;
	grid-template-columns: 1fr 1fr 1fr;
}
.homeSplash img{
	max-width: 33px;
}
.mainHeader{
	grid-row: 1;
	grid-column: 2;
	background-color:rgba(39, 57, 64, .7);
	color:rgba(217, 172, 89, 1);
	margin-top:3%;
	margin-bottom:3%;
}
.headerText{
	grid-row:2;
	grid-column: 2;
	text-align: justify;
	line-height: 1.2em;
}
.downArrow{
	grid-row: 3;
	grid-column: 2;
	text-align: center;
}
.bodyDiv main{
	grid-row:3;
}
/*.bodyDiv footer{
	grid-row:4;
	/*max-height: 10%;
}*/
footer{
	background-color:#101C26;
	position: absolute;
	left: 0;
	bottom: 0;
	overflow: hidden;
	width: 100%;
	height: 7%;
}
footer li{
	display: inline;
	list-style: none;
	text-decoration: none;
	font-family: "Playfair Display SC", serif;
	padding:5%;
}
footer ul{
	margin-left:35%;
	margin-top:1%;
}
nav{
	/*in the top bar div, col 3*/
	grid-column: 3;
}

/*expanding menu with css*/
.dropdown{
	position: relative;
	display: inline-block;
	margin-left: 5%;
}
.drop-content{
	display: none;
	position:absolute;
	background-color:;
	min-width:160px;
	z-index: 1;
}
.drop-content a{
	padding:2%;
	display: block;
}
.drop-content a:hover{
	background-color: ;
}
.dropdown:hover .drop-content{
	display:block;
	/*background-color:#101C26;*/
	padding-top:7%;
}
.dropdown:hover .dropbtn{
	background-color:#D9896C;
	color:#101C26;
}


/*Header and footer links*/
/*lvha*/
.topBar a:link{
	/*color: #101C26;*/
	color:#D9AC59;
	/*font-size: 1.2em;*/
	text-decoration: none;
}
.topBar a:visited{
	/*color: #101C26;*/
	color:#D9AC59;
	/*font-size: 1.2em;*/
	text-decoration: none;
}
.topBar a:hover{
	color: #D9896C;
	/*font-size: 1.2em;*/
	text-decoration: underline;
}
.topBar a:active{
	color:#D9AC59;
	/*font-size: 1.2em;*/
	text-decoration: underline;
}
footer a:link{
	/*color: #101C26;*/
	color:#D9AC59;
	font-size: .95em;
	text-decoration: none;
}
footer a:visited{
	/*color: #101C26;*/
	color:#D9AC59;
	/*font-size: 1.2em;*/
	text-decoration: none;
}
footer a:hover{
	color: #D9896C;
	/*font-size: 1.2em;*/
	text-decoration: underline;
}
footer a:active{
	color:#D9AC59;
	/*font-size: 1.2em;*/
	text-decoration: underline;
}


.mainCols{
	display:grid;
	grid-template-columns: 1fr 1fr 1fr;
}
#mainStories{
	grid-column: 1;
	margin-left: 15%;
}
#mainFacts{
	grid-column: 2;
	margin-right:8%;
	margin-left:8%;
}
#mainTips{
	grid-column: 3;
	margin-right: 15%;
}
.aColumn{
	margin:4%;
}
.aColumn img{
	max-width: 75%;
	min-width: 70%;
	margin-left: 10%;
	align-content: center;
}
.aColumn p{
	line-height: 1.2em;
	margin-top:5%;
	text-align: justify;
}


/*Styling for the Story Category --> maybe all the category pages.*/

.catHeader{
	padding:4%; 
}
.storyCatText{
	max-width: 40%;
	margin-left: 30%;
}
.storyCatGen{
	display:flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
}

.oneStory{
	max-width: 30%;
	margin-left:4%;
	margin-right: 4%;
	min-width: 25%;
	display:grid;
	grid-template-columns: 30% 70%;
	/*grid-template-rows: 1fr 1fr; */
	margin-top: 2%;
	/*border: 1px solid black;*/
}
.storyHead{
	/*grid-row: 1;*/
	grid-column: 2;
	text-align: left;
	font-size: 1em;
	padding:0;
	margin-bottom:2%;
	font-family: ;
	/*border: 1px solid black;*/

}
.thumbnailHere{
	max-width: 100px;
	grid-column: 1;
	grid-row: 1 / span 2;
}
.storyblurb{
	grid-column: 2;
	grid-row:2;
	/*border: 1px solid black;*/
}

.catDiv{
	display:grid;
}
/*This might need to be min of 100% if it gets long enough to break the crease.*/
.catDiv main{
	min-height:50%;
}

/*working on the story*/
.storyDiv{
	max-width:50%;
	margin-left: 25%;
	font-family: "Raleway", sans-serif;
	line-height: 1.6em;
	font-size: 1.2em;
	min-height: 100%;
	padding-bottom:5%;
	padding-top:5%;
}
.storyMain{
	min-height: 100%;
	margin-bottom: 2%;
}
.storyFoot{
	position: relative;
	min-height: 75px;
}
.storyImg{
	max-width: 50%;
	margin-left: 25%;
}
.storyHeader{
	font-family: "Playfair Display SC", serif;
	font-size: 2em;
}
blockquote{
	font-size:1.7em;
	margin:3%;
	padding:3%;
	border-left: 1px #273940 solid;
	color:#273940;
	line-height: 1.9em;
}
.sidenote{
	display: block;
	float: left;
	width:15%;
	margin:3%;
	margin-left:-20%;
}


/*media querries*/
/*@media screen and (min-width: 900px), projection and (min-width: 900px), tv and (min-width: 900px) {
/*#container{margin-left:10px}*/
/*.sidenote {
	float:none;
	position: absolute;
	right: 0;
	width: 5%;
	border: 1px solid #000;
	margin: 0;
	/*margin-right: -208px;
}
}*/
/*@media screen and (min-width: 1070px), projection and (min-width: 1070px), tv and (min-width: 1070px) {
#container{margin-left:auto}
}*/




