*{
	margin: 0;
	padding: 0;
	/*border: 1px solid black;*/
	border:0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	font-family: "Raleway", sans-serif; 
}
ol, ul {
	list-style: none;
}

/*Global styling*/
html{
	position: relative;
	min-height: 100%;
}
main{
	min-height: 100%;
	margin-bottom: 2%;
}
h1{
	font-size: 2em;
	font-family: "Playfair Display", serif;
	text-align: center;
	padding: 10%;
}

h2{
	font-size: 1.5em;
	font-family: "Playfair Display", serif;
	text-align: center;
	padding:5%;
	margin-bottom:5%;
}

.aColumn a{
	color:black;
}

nav li{
	display: inline;
	list-style: none;
	text-decoration: none;
	font-family: "Playfair Display SC", serif;
	font-size: 1em;
	padding-left:10%;

}
nav ul{
	margin-left:15%;
}
.bodyDiv{
	display: grid;
}
.topBar{
	/*This is the grid row top bar in the bodyDiv grid.*/
	grid-row:1; 
	display: grid;
	grid-template-columns: 1fr 1fr 1fr; 
	max-height: 10%;
	padding:3%;
	background-color:brown;
}
.noStick{
	width:100%;
	height:10%;
}
.stick{
	position: fixed;
	top:0;
	left:0;
	width: 100%;
}
.homeSplash{
	grid-row: 2;
	width: 100vw;
	height: 100vh;
	background-image: url("img/homeBG.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	/*this grid to to arrange homeSplash/ splash pages*/
	display: grid;
	grid-template-rows: 1fr 1fr 1fr;
	grid-template-columns: 1fr 1fr 1fr;
}
.mainHeader{
	grid-row: 1;
	grid-column: 2;
}
.headerText{
	grid-row:2;
	grid-column: 2;
}
.downArrow{
	grid-row: 3;
	grid-column: 2;
	text-align: center;
}
.bodyDiv main{
	grid-row:3;
}
.bodyDiv footer{
	/*grid-row:4;*/
	/*max-height: 10%;*/
}
footer{
	background-color: brown;
	position: absolute;
	left: 0;
	bottom: 0;
	overflow: hidden;
	width: 100%;
	height: 7%;
}
footer li{
	display: inline;
	list-style: none;
	text-decoration: none;
	font-family: "Playfair Display SC", serif;
	font-size: .7em;
	padding:5%;
	/*grid-column: 2;*/
}
footer ul{
	margin-left:35%;
	margin-top:1%;
}
nav{
	/*in the top bar div, col 3*/
	grid-column: 3;
}
.mainCols{
	display:grid;
	grid-template-columns: 1fr 1fr 1fr;
}
#mainStories{
	grid-column: 1;
	margin-left: 15%;
}
#mainFacts{
	grid-column: 2;
}
#mainTips{
	grid-column: 3;
	margin-right: 15%;
}
.aColumn{
	margin:4%;
}



/*Styling for the Story Category --> maybe all the category pages.*/

.catHeader{
	padding:4%; 
}
.storyCatText{
	max-width: 40%;
	margin-left: 30%;
}
.storyCatGen{
	display:flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
}

.oneStory{
	max-width: 30%;
	margin-left:4%;
	margin-right: 4%;
	min-width: 25%;
	display:grid;
	grid-template-columns: 30% 70%;
	/*grid-template-rows: 1fr 1fr; */
	margin-top: 2%;
	/*border: 1px solid black;*/
}
.storyHead{
	/*grid-row: 1;*/
	grid-column: 2;
	text-align: left;
	font-size: 1em;
	padding:0;
	margin-bottom:2%;
	font-family: ;
	/*border: 1px solid black;*/

}
.thumbnailHere{
	max-width: 100px;
	grid-column: 1;
	grid-row: 1 / span 2;
}
.storyblurb{
	grid-column: 2;
	grid-row:2;
	/*border: 1px solid black;*/
}


