*{
	margin: 0;
	padding: 0;
	/*border: 1px solid black;*/
	border:0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

/*/* Color Theme Swatches in Hex */

 /* Color Theme Swatches in Hex 
d blue{ color: #101C26; }
blue{ color: #273940; }
green{ color: #7B8C3B; }
yellow{ color: #D9AC59; }
pink{ color: #D9896C; }

 Color Theme Swatches in RGBA 
{ color: rgba(16, 28, 38, 1); }
{ color: rgba(39, 57, 64, 1); }
{ color: rgba(123, 140, 59, 1); }
{ color: rgba(217, 172, 89, 1); }
{ color: rgba(217, 137, 108, 1); }

Look at Volkorn sC for lantern
Alegreya SC in medium 
*/


/*Global styling*/
body {
	line-height: 1;
	font-family: "Raleway", sans-serif; 
}
/*ol, ul {
	list-style: none;
}*/
html{
	position: relative;
	/*min-height: 100%;*/
}
main{
	/*min-height: 100%;*/
	margin-bottom: 2%;
}
h1{
	font-size: 2em;
	font-family: "Playfair Display SC", serif;
	text-align: center;
	padding: 10%;
	color:#101C26;
}

h2{
	font-size: 1.5em;
	font-family: "Playfair Display", serif;
	text-align: center;
	padding:5%;
	margin-bottom:5%;
	color:#101C26;
}
.homeTwo{
	margin-bottom:3%;
	padding-bottom: 2%;
}
.aColumn a{
	color:black;
}

nav li{
	display: inline;
	list-style: none;
	text-decoration: none;
	font-family: "Playfair Display SC", serif;
	margin-left:10%;
	color:#D9AC59;
	font-size: 1.2em;
}
.topBar img{
	max-height: 65px;
	margin-top:5px;
}
.bodyDiv{
	display: grid;
}
.topBar{
	/*This is the grid row top bar in the bodyDiv grid.*/
	/*grid-row:1; */
	display: grid;
	grid-template-columns: 1fr 1fr 1fr; 
	background-color:#101C26;
	/*padding:1%;*/
	height: 80px;
	/*overflow:hidden;*/
}
.nav-wrap{
	height:80px;
}
.noStick{
	background-color:#101C26;
	/*padding:3%;*/
}
.stick{
	position: fixed;
	height:80px;
	top:0;
	left:0;
	width: 100%;
	background-color: rgba(16, 28, 38, .9);
	/*padding:1%;*/
}
.stick + .homeSplash{
	padding-top:80px;
}
.homeSplash{
	grid-row: 2;
	width: 100vw;
	height: 90vh;
	background-image: url("../img/splash.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	/*this grid to to arrange homeSplash/ splash pages*/
	display: grid;
	grid-template-rows: 1fr .5fr 1fr;
	grid-template-columns: 1fr 1fr 1fr;
}
/*.homeSplash img{
	max-width: 33px;
}*/
.mainHeader{
	/*grid-row: 1;*/
	grid-column: 1/4;
	/*background-color:rgba(39, 57, 64, .7);*/
	color:rgba(16, 28, 38, 1);
	margin-top:3%;
	/*margin-bottom:3%;*/
	font-size:3em;
	padding:0%;
}
.headerText{
	/*grid-row:2;*/
	grid-column: 2;
	text-align: center;
	line-height: 1.6em;
	font-size: 1.3em;
	font-family:"Playfair Display SC";
	background-color: rgba(217, 172, 89, .7);
	padding:2%;
	/*top:-15%;*/
}
.downArrow{
	grid-row: 3;
	grid-column: 2;
	text-align: center;
}
.bodyDiv main{
	grid-row:3;
}
.logo{
	margin-left:-33%;
}
nav{
	/*in the top bar div, col 3*/
	grid-column: 3;
}

/*expanding menu with css*/
.dropdown{
	position: relative;
	display: inline-block;
	margin-left: 5%;
}
.drop-content{
	display: none;
	position:absolute;
	background-color:;
	min-width:160px;
	z-index: 1;
}
.drop-content a{
	padding:2%;
	display: block;
}
.dropdown:hover .drop-content{
	display:block;
	background-color: rgba(16, 28, 38, .9);
	padding-top:7%;
}
.dropdown:hover .dropbtn{
	color: #D9896C;
	text-decoration: underline;
}


/*Header and footer links*/
.topBar ul{
	margin-top:5%;
	margin-left: 25%;
	/*text-align: right;*/
}
/*lvha*/
.topBar a:link{
	/*color: #101C26;*/
	color:#D9AC59;
	/*font-size: 1.2em;*/
	text-decoration: none;
}
.topBar a:visited{
	/*color: #101C26;*/
	color:#D9AC59;
	/*font-size: 1.2em;*/
	text-decoration: none;
}
.topBar a:hover{
	color: #D9896C;
	/*font-size: 1.2em;*/
	text-decoration: underline;
}
.topBar a:active{
	color:#D9AC59;
	/*font-size: 1.2em;*/
	text-decoration: underline;
}


.mainCols{
	display:grid;
	grid-template-columns: 1fr 1fr 1fr;
}
#mainStories{
	grid-column: 1;
	margin-left: 15%;
}
#mainFacts{
	grid-column: 2;
	margin-right:8%;
	margin-left:8%;
}
#mainTips{
	grid-column: 3;
	margin-right: 15%;
}
.aColumn{
	margin:4%;
}
.aColumn img{
	height: 200px;
	width:100%;
	align-content: center;
}
.aColumn p{
	line-height: 1.2em;
	margin-top:5%;
	text-align: justify;
}


/*Styling for the Category pages */

.catHeader{
	padding:4%; 
	color:#D9AC59;
}
.storyCatText{
	max-width: 40%;
	margin-left: 30%;
	margin-bottom:4%;
}
.storyCatGen{
	display:flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
}

.oneStory{
	max-width: 30%;
	min-width: 25%;
	margin-top: 2%;
	margin-bottom: 5%;
	background-color: white;
}
.oneStory a{
	text-decoration:none;
}
.storyButton{
	display:grid;
}
.storyHead{
	grid-row: 2;
	font-size: 1.5em;
	padding:0;
	margin-bottom:4%;
	margin-top:4%;
	text-align: center;
	line-height: 1.2em;
	max-width:80%;
	margin-left: 10%;
}
.thumbnailHere{
	width:100%;
	height:275px;
	grid-row:1;
}
.storyblurb{
	/*grid-column: 2;*/
	grid-row:3;
	color:#101C26;
	padding:5%;
	/*border: 1px solid black;*/
}

.catDiv{
	display:grid;
	min-height:100%;
}
.catDiv main{
	margin-bottom:1%;
}
/*Flipping the color of the cat page*/
.catDiv{
	background-color: #101C26;
	color:#D9AC59;
}


/*working on the story*/
.storyDiv{
	max-width:50%;
	margin-left: 25%;
	font-family: "Raleway", sans-serif;
	line-height: 1.6em;
	font-size: 1.2em;
	min-height: 100%;
	padding-bottom:5%;
	padding-top:5%;
}
.storyDiv p{
	margin-bottom: 4%;
}
.storyDiv img{
	max-width:97%;
	max-height:500px;
	/*margin-left: 10%;*/
}
.storyMain{
	min-height: 100%;
	margin-bottom: 2%;
}

.storyImg{
	max-width: 50%;
	margin-left: 25%;
}
.storyHeader{
	font-family: "Playfair Display SC", serif;
	font-size: 2em;
	border-bottom:1px #273940 solid;
	max-width: 50%;
	margin-left: 20%;
}
blockquote{
	font-size:1.7em;
	margin:3%;
	padding:3%;
	border-left: 1px #273940 solid;
	color:#273940;
	line-height: 1.9em;
}
.sidenote{
	display: block;
	float: left;
	width:30%;
	margin:3%;
	margin-left:-35%;
	font-size: .8em;
	text-align: right;
	margin-bottom: 3%;
}
.manytip{
	/*font-size: .7em;*/
	margin-top:-10%;
	margin-bottom:10%;
	width:40%;
	margin-left:-55%;
}
.smallLink{
	background-color:#101C26;
	color:#D9AC59;
	font-family: "Playfair Display SC", serif;
	padding:5%;
	border-radius: 3px;
	border-color:#D9AC59;
	border-width: 1px;
	border-style: solid;
	margin-top:15%;
	text-decoration: none;
}
.smallLink:hover{
	background-color:#D9AC59;
	color:#101C26;
	border-color:#101C26;
}
.smallLink:active{
	background-color:#101C26;
	color:#D9AC59;
	border-color:#D9AC59;
}
.sideP{
	margin-bottom:5%;
}

/*and working with the tips/facts pages (individual tips/facts)*/
.tipDiv{
	max-width:50%;
	margin-left: 25%;
	font-family: "Raleway", sans-serif;
	line-height: 1.6em;
	font-size: 1.2em;
	min-height: 100%;
	padding-bottom:5%;
	padding-top:5%;
}
.tipDiv p{
	margin-bottom: 4%;
}
.tipMain{
	min-height: 100%;
	margin-bottom: 2%;
}
.storyImg{
	max-width: 50%;
	margin-left: 25%;
}
.tipHeader{
	font-family: "Playfair Display SC", serif;
	font-size: 2em;
	border-bottom:1px #273940 solid;
	max-width: 50%;
	margin-left: 20%;
}
blockquote{
	font-size:1.7em;
	margin:3%;
	padding:3%;
	border-left: 1px #273940 solid;
	color:#273940;
	line-height: 1.9em;
}
figcaption{
	font-size:.8em;
	margin-bottom:2%;
	margin-top:-1%;
}
.innerList{
	margin-left:10%;
	max-width: 80%;
}

.outsideLink{
	padding-bottom: 5%;
	display:block;
	margin-top:-3%;
	color:#101C26;
}
.outsideLink:visited{
	color:#273940;
}
.outsideLink:hover{
	color:#D9AC59;
}
.outsideLink:active{
	color:#273940;
}
.bottomButton{
	background-color:#101C26;
	color:#D9AC59;
	font-family: "Playfair Display SC", serif;
	padding:1%;
	border-radius: 3px;
	border-color:#D9AC59;
	border-width: 1px;
	border-style: solid;
	text-decoration: none;
	width:15%;
	height:30%;
	margin-left:25%;
}

.bottomButton a:visited{
	color:#D9AC59;
}
.bottomButton a:hover{
	background-color:#D9AC59;
	color:#101C26;
	border-color:#101C26;
}
.bottomButton a:active{
	background-color:#101C26;
	color:#D9AC59;
	border-color:#D9AC59;
}
.bottomButton:hover{
	background-color:#D9AC59;
	color:#101C26;
	border-color:#101C26;
}
.bottomButton a:active{
	background-color:#101C26;
	color:#D9AC59;
	border-color:#D9AC59;
}

/*The about page*/
.aboutPage{
	display:grid;
}
.aboutPage .nav-wrap{
	grid-row:1;
}
.bigLogo{
	grid-row:2;
	max-height: 300px;
	margin-top:5%;
}
.bgCol{
	max-width: 100%;
	width: 100vw;
	height: 90vh;
	background-image: url("../img/stock2.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}
.aboutPage main{
	grid-row:4;
	max-width: 60%;
	margin-left: 20%;
}
.aboutPage h1{
	grid-row:3;
	padding-bottom:2%;
	padding-top:2%;
	margin: 3%;
	color: #D9AC59;
}
/*.aboutPage h2{
	padding:3%;
	border: 1px #D9AC59 double;
	font-size: 1.1em;
}*/
.aboutPage h3{
	padding:3%;
	margin-top: 2%;
	margin-bottom: 4%;
	font-size: 1.1em;
	font-family: "Playfair Display SC", serif;
	color:#D9AC59;
	background-color:#273940;
	border: 1px #D9AC59 double;
	line-height: 1.2em;
}
.aboutPage h3:hover{
	color:#273940;
	background-color:#D9AC59;
	text-decoration: underline;
}
.aboutPage .p1{
	margin-top:4%;
}
.aboutPage p{
	margin-bottom: 3%;
	line-height: 1.3em;
}
.aboutPage ol{
	max-width: 80%;
	margin-left:10%;
}
.aboutPage li{
	margin-bottom: 3%;
}

/*media querries*/
@media screen and (max-width: 950px){
	.thumbnailHere{
		height:220px;
	}
}



@media screen and (max-width: 875px){
	/*also breaking point for the navigation*/
	nav li{
		display: block;
		margin-top:2%;
		margin-left:7%;
	}
	.logo{
		margin-left: 0%;
	}
	.dropdown{
		margin-left:0%;
		margin-top:4%;
	}
	.oneStory{
		max-width: 45%;
		min-width: 35%;
	}
	.bigLogo{
		max-height:200px;
	}
	.thumbnailHere{
		height:260px;
	}
	/*for the home page columns*/
	.mainCols{
		display:grid;
		grid-template-columns: 1fr;
		grid-template-rows: 1fr 1fr 1fr;
	}
	#mainStories{
		grid-column: 1;
		grid-row:1;
		margin-left: 15%;
	}
	#mainFacts{
		grid-column: 1;
		grid-row:2;
		margin-left:15%;
	}
	#mainTips{
		grid-column: 1;
		grid-row:3;
		margin-left: 15%;
	}
	.aColumn{
		max-width:500px;
	}
	.aColumn img{
		height: 300px;
		width:100%;
		align-content: center;
	}
	.aColumn p{
		border-bottom: 1px #273940 solid;
		padding-bottom:5%;
		width: 80%;
		margin-left:10%;
		margin-right:10%;
	}
}


@media screen and (max-width: 650px){
	/*This is the break point for the category pages. drop to two cols*/
	.oneStory{
		max-width: 75%;
		min-width: 50%;
	}
	.storyCatText{
		max-width:80%;
		margin-left: 10%;
	}

	.homeSplash{
		display: grid;
		grid-template-rows: 1fr 1fr 1fr;
		grid-template-columns: 25% 50% 20%;
	}
	.homeSplash img{
		max-width: 33px;
	}
	.mainHeader{
		grid-row: 2;
		grid-column: 2;
		background-color:rgba(39, 57, 64, .9);
		color:rgba(217, 172, 89, 1);
		margin-top:3%;
		margin-bottom:3%;
	}
	.headerText{
		display:none;
	}
	.downArrow{
		grid-row: 3;
		grid-column: 2;
		text-align: center;
	}
	.bodyDiv main{
		grid-row:3;
	}
	.thumbnailHere{
		height:320px;
	}
}
@media screen and (max-width: 440px){
	.thumbnailHere{
		height:260px;
	}
}
@media screen and (max-width: 440px){
	main{
		max-width: 100vw;
	}
	.logo{
		margin-left:10%;
	}
	.topBar ul{
		margin-top:5%;
		margin-left: 5%;
		/*text-align: right;*/
	}
	.bgCol{
		/*background-color: rgba(16, 28, 38, .8);*/
		/*max-width: 100%;*/
		width: 100vw;
		height: 60vh;
		background-image: url("../img/stock2.jpg");
		background-repeat: no-repeat;
		background-size: cover;
	}
	.mainHeader{
		width: 100%;
		padding:3%;
		margin-top:15%;
		margin-right:5%;
		/*text-align: center;*/
		grid-column: 1/4;
	}
	.homeSplash{
		width:100vw;
	}
	#mainTips{
		grid-column: 1;
		grid-row:3;
		margin-left: 15%;
		margin-top: 15%;
	}
	.dropdown{
		position: relative;
		display: inline-block;
		margin-left: 5%;
	}
	.drop-content{
		display: inline;
		position:absolute;
		min-width:190px;
		z-index: 1;
	}
	.drop-content a{
		display: inline;
	}
	.dropbtn{
		display: none;
	}
	nav{
		grid-column: 2/4;
		align-content: right;
		/*text-align: right;*/
		/*float:right;*/
	}
	.nav-wrap{
		max-width: 100vw;
	}
	.aboutLink{
		text-align: right;
		/*margin-left:120%;*/
	}

	/*topic columns on the main page*/
	.aColumn img{
		width:100vw;
		height: 250px;
		margin:0%;
	}
	.aColumn{
		margin:0%;
		max-width: 100vw;
	}
	#mainStories{
		margin-left:0%;
	}
	#mainFacts{
		margin-left:0%;
	}
	#mainTips{
		margin-left:0%;
		margin-top:0%;
	}

	/*Stories*/
	.sidenote{
		width:70%;
		/*max-width: 250px;*/
		margin:3%;
		padding:3%;
		margin-left: 15%;
		text-align: left;
		border:1px solid #101C26;
	}
	.thumbnailHere{
		height:200px;
	}
	.storyDiv{
		max-width:90%;
		margin-left: 10%;
		margin-right: 10%;
		text-align: justify;
	}
	.storyHeader{
		max-width: 100%;
		margin-left: 0%;
	}
	.storyImg{
		max-width: 100%;
		margin-left: 0%;
	}
}



